@import url('reset.css');

/** {
  float: left;
}*/

h1 {
  font-size: 20em;
}

h1.lowUsage {
  color: green;
}

h1.mediumUsage {
  color: yellow;
}

h1.highUsage {
  color: red;
}

#controlpanel{
  float: left;
  width: 60%;
  background-color: green;
  text-align: left;
}